<html>
  <body>

    <!-- link to list of posts -->
    <%= link_to 'Back to Posts', posts_path %>

    <div class="post">
      <h2 class="title">
        <%= @post.title %>
      </h2>

      <small class="meta">
        <span class="author">by
          <%= @post.author %>
          -</span>
        <em class="created_at"><%= @post.created_at %></em>
      </small>

      <p class="body"><%= @post.body %></p>

      <br/><br/>

      <div class="comments">
        <h3>Comments:</h3>
        <hr/>
        <% @post.comments.each_with_index do |comment, index| %>
          <div class="comment">
            <small class="comment_meta">
              <span class="comment_author">#<%= index+1 %>
                by <%= comment.author %> -</span>
              <em class="comment_created_at"><%= comment.created_at %></em>
            </small>
            <p class="comment_body"><%= comment.body %></p>

            <h3>post_comments_path = <%= post_comments_path(@post.id, comment.id) %> </h3>

            <!-- form used to delete a comment -->
            <%= form_for [@post, comment], method: "delete" do %>
              <%= submit_tag "Delete Comment" %>
            <% end %>

          </div>
          <hr/>
        <% end %>

        <!-- display errors -->
        <div class="errors">
          <% @comment.errors.each do |attribute, error| %>
            <p class="error" style="color: orange">
              <%= attribute %>: <%= error %>
            </p>
          <% end%>
        </div>

        <!-- form used to create a comment -->
        <%= form_for [@post, @comment] do |f| %>
          <%= f.label 'Comment' %>
          <%= f.text_area :body %>
          <br /><br />
          <%= f.label :author %>
          <%= f.text_field :author %>
          <br /><br />
          <%= f.submit %>
        <% end %>
        <hr />

      </div>

    </div>

  </body>
</html>
